{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Containers</h1>
    {% if containers|length < 1 %}
    <h4 style="text-align: center">There are no containers. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>warehouse_id</th>
            <th>container_number</th>
            <th>Actions</th>
        </tr>
        {% for row in containers %}
            <tr>
                <td>{{ row.warehouse_id }}</td>
                <td>{{ row.container_number }}</td>
                <td>
{#                    <a href="/delete/{{row.warehouse_id}}">Delete</a>#}
{#                    <br>#}
                    <form style="display: inline-block" action="/container_crud/delete/{{ row.container_id }}"
                                              method="POST">
                                            <input type="hidden" value="{{ row.container_id }}"/>
                                            <button id="btndel" class="btn btn-danger btn-sm"
                                                    onclick="return confirm('Вы уверены, что хотите удалить?')">
                                                Delete
                                            </button>
                                        </form>
{#                    <a href="/update/{{task.id}}">Update</a>#}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/container_crud" method="POST">
            <select id="warehouse_id" name="warehouse_id" size="1">
                {% for warehouse in warehouses %}
                  <option value={{ warehouse.warehouse_id }}> {{ warehouse.warehouse_id }} </option>
                {% endfor %}
            </select>
            <input type="text" name="container_number" id="container_number" placeholder="container_number" required>
            <input type="submit" value="Add container">
        </form>
    </div>
</div>
{% endblock %}