{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Products</h1>
    {% if products|length < 1 %}
    <h4 style="text-align: center">There are no products. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>product_code</th>
            <th>product_name</th>
            <th>unit</th>
            <th>Actions</th>
        </tr>
        {% for row in products %}
            <tr>
                <td>{{ row.product_code }}</td>
                <td>{{ row.product_name }}</td>
                <td>{{ row.unit }}</td>
                <td>
{#                    <a href="/delete/{{row.warehouse_id}}">Delete</a>#}
{#                    <br>#}
                    <form style="display: inline-block" action="/product_crud/delete/{{ row.product_id }}"
                                              method="POST">
                                            <input type="hidden" value="{{ row.product_id }}"/>
                                            <button id="btndel" class="btn btn-danger btn-sm"
                                                    onclick="return confirm('Вы уверены, что хотите удалить?')">
                                                Delete
                                            </button>
                                        </form>
{#                    <a href="/update/{{task.id}}">Update</a>#}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/product_crud" method="POST">
        <input type="text" name="product_code" id="product_code" placeholder="product_code" required>
        <input type="text" name="product_name" id="product_name" placeholder="product_name" required>
            <select id="unit" name="unit" size="1">
                  <option value="meter"> meter </option>
                  <option value="kilogram"> kilogram </option>
                  <option value="ton"> ton </option>
                  <option value="liter"> liter </option>
                  <option value="box"> box </option>
            </select>


            <input type="submit" value="Add product">
        </form>
    </div>
</div>
{% endblock %}