body, html {
    margin: 0;
    font-family: 'Lora', serif;
    font-size: 12pt;

}


.content {
    margin: 0 auto;
    text-align: center;
    width: 400px;
}

.storage_content{
    margin: 0 auto;
    text-align: center;
    width: 707px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    font-family: sans-serif;
    padding: 3px;
}

.form {
    margin-top: 20px;
}
.my_option{
    width: 177px;
    height: 21px;
}

#content {
    width: 70%;
}

input{
    margin-bottom: 5px;
}



.small_table{
    width: 400px;
}


i {
  margin-right: 10px;
}
nav {
  display: block;
  width: 100%;
  margin: 0 auto 30px;
}
.one ul {
      list-style: none;
  margin: 0 auto;
  padding: 1em 0;
  background: #B0B0B0;
}
.one a {
  text-decoration: none;
  font-family: 'Lora', serif;
  font-size: 14pt;
  transition: .5s linear;
  padding: 1em;
  background: rgba(245,245,245, .5);
      color: black;
  /*color: #695753;*/
}
.one a:hover {background: #F0F0F0;}
.one li {
  display: inline;
}
